.counter{
    background-image: url(../Images/services_background.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
  

}


    
